version: 2.1

executors:
  java8:
    docker:
      - image: circleci/openjdk:8-jdk-browsers

jobs:
  build:

    executor: java8
    
    working_directory: ~/MurderMystery_Nukkit

    steps:

      - checkout

      - restore_cache:
          key: dependencies-{{ checksum "pom.xml" }}

      - run: 
          name: 'build'
          command:
            mvn clean package

      - save_cache:
          paths:
            - ~/.m2
          key: dependencies-{{ checksum "pom.xml" }}

      - store_artifacts:
          path: target/MurderMystery-1.3.3.jar

workflows:
  build:
    jobs:
      - build
